.menuContainer {
  .top-text {
    h4 {
      font-size: 25px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1px;
      text-align: center;
      color: #000000;
       padding:  0 34%;
      margin: 60px auto 30px auto;
      font-family: "Bebas Neue", cursive;

      @media screen and (max-width: 1400px) {
      padding:  0 20%;
      }
      @media screen and (max-width: 1000px) {
        padding:  0 10%;
  
        }
      @media screen and (max-width: 400px) {
        font-size: 20px;
      }
    }

    .text-div {
      margin: 0 auto;
      width: 70%;
      font-size: 50px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1px;
      text-align: center;
      color: #ffffff;
      background-color: $primary-colour;
      padding-top: 4px;
      @media screen and (max-width: 1000px) {
        font-size: 40px;
      }

      @media screen and (max-width: 500px) {
        font-size: 30px;
      }
    }
  }
  .main-div {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .left,
    .right {
      font-size: 29px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.01px;
      text-align: center;
      color: #000000;
      font-family: "Roboto", sans-serif;
      @media screen and (max-width: 1000px) {
        font-size: 20px;
      }
      @media screen and (max-width: 500px) {
        font-size: 15px;
      }
      .menu-sidebar {
        width: 70px;
        word-spacing: 10px;
        border: 3px solid $primary-colour;
        display: flex;
        align-items: center;
        padding: 30px 0;
        @media screen and (max-width: 1000px) {
         width: 50px;
        }

        @media screen and (max-width: 500px) {
          width: 30px;
        }
       
      }
    }

    .left {
      .menu-sidebar {
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        transform: rotate(180deg);   
        position: -webkit-sticky;
        position: sticky;
        top: 150px;
       // bottom: 500px;
      }
    }

    .right {
      .menu-sidebar {     
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        transform: rotate(180deg);
        position: -webkit-sticky;
    position: sticky;
    top: 150px;

      }
    }
    .main-menu {
      width: 70%;
      .menu-item {
        &:not(:last-child) { 
          margin-bottom: 30px ; 
         };
        background-color: $primary-colour;
        display: flex;
        position: relative;
        @media screen and (max-width: 1000px) {
          flex-direction: column;
        }
        
        .left {
          width: 50%;
        //  display: flex;
          @media screen and (max-width: 1000px) {
            width: 100%;
            margin-bottom: 20px;
          }

          .text-container{
            width: fit-content;
            //height: fit-content;
            margin: 15% auto;
            h1 {
             // border: 1px solid red;
              font-size: 3.2vw;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: 0.01px;
              text-align: left;
              color: #ffffff;
              background: url(../images/background-text.png) repeat;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              background-color: white;
              margin: 10% 0 1% 0;
              @media screen and (max-width: 1000px) {
                font-size: 50px;
              }
              @media screen and (max-width: 500px) {
                font-size: 30px;
              }
            }
  
            .border{
              height:  5px  ;
              max-width: fit-content;
              background: url(../images/background-text.png) repeat;
              background-color: white;
              //margin: auto;
              border: 1px solid transparent;
              margin-bottom: 8%;
              h1{
                opacity: 0;
              }
            
            }
  
                h4 {
                  font-size: 1.9vw;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.2;
                  letter-spacing: 1px;
                  text-align: left;
                  color: #ffffff;
                  text-transform: uppercase;
                  margin: 10px 0;
                  font-family: "Bebas Neue", cursive;

                  @media screen and (max-width: 1000px) {
                    font-size: 30px;
                  }
                  @media screen and (max-width: 500px) {
                    font-size: 20px;
                  }
                }
          }
       
        
        }
        .right {
          width: 50%;
          text-align: center;
          position: relative;
          @media screen and (max-width: 1000px) {
            width: 100%;
          }
          .carousel {
            margin: 20px auto 40px auto;
            width: 70%;
          position: relative;
        //  border: 5px solid wheat;

            .slick-active {
              .dot {
                background-color: white !important;
              }
            }
            .slick-prev:before,
            .slick-next:before {
              //font-family: "slick";
              font-size: 20px;
              font-weight: 900;
              line-height: 1;
              color: white;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }

            .slick-prev:before {
              content: "<";
            }
            [dir="rtl"] .slick-prev:before {
              content: ">";
            }

            [dir="rtl"] .slick-next {
              left: -10px;
              top: 70px;
              right: auto;
            }
            .slick-next:before {
              content: ">";
            }
            [dir="rtl"] .slick-next:before {
              content: "<";
            }
          }
        }

        span {
          position: absolute;
          font-size: 6vw;
          color: white;
          -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          opacity: 0.6;
          bottom: 10px;
          right: 85%;
          text-transform: uppercase;
          font-weight: 900;
          // @media screen and (max-width: 1400px) {
          //   font-size: 70px;
          // }

          // @media screen and (max-width: 1200px) {
          //   font-size: 50px;
          // }

          @media screen and (max-width: 1000px) {
            top: -15%;
            right: 0;
          //  border: 1px solid white;
            width: 100%;
            font-size: 10vw;
          }

          // @media screen and (max-width: 500px) {
          //   font-size: 40px;
          // }
          
        }
        .crunchy-text{
         // bottom: 50px;
           right: 65%;
           @media screen and (max-width: 1000px) {
            top: -15%;
            right: 0;
          //  border: 1px solid white;
            width: 100%;
            font-size: 10vw;
          }

        }
      }

      .middle {
        flex-direction: row-reverse;
        @media screen and (max-width: 1000px) {
          flex-direction: column;
        }
        span{
          top: 10px;
          left: 60%;
          @media screen and (max-width: 1000px) {
            top: -15%;
            left: 0;
          //  border: 1px solid white;
            width: 100%;
            font-size: 10vw;
          }


        }
      }
    }
  }
}
